body {
  margin: 0;
  font-weight: bold;
  font-family: monospace;
}

h1 {
  font-size: 120%;
  color: purple;
}

.slide {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 30px;
  padding-top: 0px;
}

.slide iframe {
  width: 100%;
  height: 100%;
  border-width: 0px;
}

.break {
  height: 0.5em;
}
